<div id="snowtop"></div>
<div id="footer">
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <p>Kitten Cause is not affiliated with the Adair County Humane Society</p>
            </div>
            <div class="col-sm-4">
                <a href="#">adairkittencause@gmail.com</a>
                <div class="fb-like" data-share="true" data-width="450" data-show-faces="false"></div>
            </div>
            <div class="col-sm-4">
                <p>Logo by <a href="http://www.freshprintlabs.com/" target="_blank">FP Labs</a></p>
                <p>Website designed by <a href="http://kirksville.website" target="_blank">Kirksville Websites</a></p>
            </div>
        </div>
        <br />
    </div>
</div>

